syntax:glob
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*ReSharper*
*.suo
*.user
*.rej
*.InstallLog
*.ipch
*.cache
*.log
*.ncb
_deploy
.deploy
.temp
.svn
.vs
Form.FT/Screenshots
Check/.deploy
Check/Services/.output/
Runner/TestResult.xml
Kopf.Persons.Api.Local*
#Assemblies/Check.CheckService.exe
#Assemblies/Check.CheckService.pdb
#Assemblies/Check.CheckServiceCore.dll
#Assemblies/Check.CheckServiceCore.pdb
#Assemblies/Check.CheckXmlServiceCore.dll
#Assemblies/Check.CheckXmlServiceCore.pdb
#Assemblies/Check.HealthMonitorConfiguration.pdb
#Assemblies/Check.HealthMonitorConfiguration.dll
Assemblies/BanksReference/BanksReference.Core.dll
Assemblies/BanksReference/BanksReference.Core.pdb
Assemblies/BanksReference/Kopf.BanksReference.dll
Assemblies/BanksReference/Kopf.BanksReference.pdb
Assemblies/BanksReference/MockBanksReference.dll
Assemblies/BanksReference/MockBanksReference.pdb
Assemblies/Check.Front.dll
Assemblies/Check.Front.pdb
Assemblies/Check.Tests.dll
Assemblies/Check.Tests.pdb
Assemblies/KLADR.Front.dll
Assemblies/KLADR.Front.pdb
#Assemblies/KLADR.HealthMonitorConfiguration.dll
#Assemblies/KLADR.HealthMonitorConfiguration.pdb
Assemblies/Mocks.KeyValueFileStorage.dll
Assemblies/Mocks.KeyValueFileStorage.pdb
Assemblies/Mocks.MockDocflowService.dll
Assemblies/Mocks.MockDocflowService.pdb
Assemblies/ThoughtWorks.Selenium.Core.dll
Assemblies/ThoughtWorks.Selenium.Core.pdb
Assemblies/WebPersonal.Address.Common.dll
Assemblies/WebPersonal.Address.Common.pdb
Assemblies/WebPersonal.AccessControlService.exe
Assemblies/WebPersonal.AccessControlService.pdb
Assemblies/WebPersonal.Blacklists.exe
Assemblies/WebPersonal.Blacklists.pdb
Assemblies/WebPersonal.CertChainVerifierService.exe
Assemblies/WebPersonal.CertChainVerifierService.pdb
Assemblies/WebPersonal.Deployment.exe
Assemblies/WebPersonal.Deployment.pdb
Assemblies/WebPersonal.Front.dll
Assemblies/WebPersonal.Front.pdb
Assemblies/WebPersonal.FunctionalTests.dll
Assemblies/WebPersonal.FunctionalTests.pdb
Assemblies/WebPersonal.FunctionalTestsCore.dll
Assemblies/WebPersonal.FunctionalTestsCore.pdb
Assemblies/WebPersonal.ImportService.exe
Assemblies/WebPersonal.ImportService.pdb
Assemblies/WebPersonal.IndexService.exe
Assemblies/WebPersonal.IndexService.pdb
Assemblies/KOPF.PersonList.Client.dll
Assemblies/KOPF.PersonList.Client.pdb
Assemblies/WebPersonal.KOPF.dll
Assemblies/WebPersonal.KOPF.pdb
Assemblies/WebPersonal.Sessions.dll
Assemblies/WebPersonal.Sessions.pdb
Assemblies/WebPersonal.Sessions.Datas.dll
Assemblies/WebPersonal.Sessions.Datas.pdb
Assemblies/WebPersonal.Calculations.dll
Assemblies/WebPersonal.Calculations.pdb
Assemblies/WebPersonal.Calculations.Datas.dll
Assemblies/WebPersonal.Calculations.Datas.pdb
Assemblies/WebPersonal.Expressions.dll
Assemblies/WebPersonal.Expressions.pdb
Assemblies/WebPersonal.FSS.dll
Assemblies/WebPersonal.FSS.pdb
Assemblies/WebPersonal.FSS.Datas.dll
Assemblies/WebPersonal.FSS.Datas.pdb
Assemblies/WebPersonal.PF.Datas.dll
Assemblies/WebPersonal.PF.Datas.pdb
Assemblies/WebPersonal.Validations.dll
Assemblies/WebPersonal.Validations.pdb
Assemblies/WebPersonal.Validations.Datas.dll
Assemblies/WebPersonal.Validations.Datas.pdb
Assemblies/WebPersonal.KonturPortalService.exe
Assemblies/WebPersonal.KonturPortalService.pdb
Assemblies/WebPersonal.SendingService.exe
Assemblies/WebPersonal.SendingService.pdb
Assemblies/WebPersonal.PrintBuilders.dll
Assemblies/WebPersonal.PrintBuilders.pdb
Assemblies/WebPersonal.PrintService.exe
Assemblies/WebPersonal.PrintService.pdb
Assemblies/WebPersonal.QueuedReportingService.exe
Assemblies/WebPersonal.QueuedReportingService.pdb
Assemblies/WebPersonal.References.dll
Assemblies/WebPersonal.References.pdb
Assemblies/WebPersonal.ReportContracts.dll
Assemblies/WebPersonal.ReportContracts.pdb
Assemblies/WebPersonal.ReportingEngine.dll
Assemblies/WebPersonal.ReportingEngine.pdb
Assemblies/WebPersonal.ReportingService.Core.dll
Assemblies/WebPersonal.ReportingService.Core.pdb
Assemblies/WebPersonal.ReportingService.exe
Assemblies/WebPersonal.ReportingService.pdb
Assemblies/WebPersonal.ServiceManager.exe
Assemblies/WebPersonal.ServiceManager.pdb
Assemblies/WebPersonal.StorageService.exe
Assemblies/WebPersonal.StorageService.pdb
Assemblies/WebPersonal.Tests.dll
Assemblies/WebPersonal.Tests.pdb
Assemblies/WebPersonal.Web.dll
Assemblies/WebPersonal.Web.pdb
Assemblies/WebPersonal.KOPF.Reports.*
Assemblies/WebPersonal.KOPF.PeriodData.*
Assemblies/WebPersonal.KOPF.Abonent.dll
Assemblies/WebPersonal.KOPF.Abonent.pdb
Assemblies/WebPersonal.KOPF.Binding.pdb
Assemblies/WebPersonal.KOPF.Binding.dll
Assemblies/WebPersonal.KOPF.Models.Core.pdb
Assemblies/WebPersonal.KOPF.Models.Core.dll
Assemblies/WebPersonal.KOPF.Persons.pdb
Assemblies/WebPersonal.KOPF.Persons.dll
Assemblies/WebPersonal.KOPF.Query.pdb
Assemblies/WebPersonal.KOPF.Query.dll
Assemblies/WebPersonal.KOPF.SingleObjectAccessor.pdb
Assemblies/WebPersonal.KOPF.SingleObjectAccessor.dll
Assemblies/WebPersonal.KOPF.StupidEntityCache.pdb
Assemblies/WebPersonal.KOPF.StupidEntityCache.dll
Assemblies/WebPersonal.PersonDataProcessing.pdb
Assemblies/WebPersonal.PersonDataProcessing.dll
Assemblies/WebPersonal.KOPF.ReportSerialization.pdb
Assemblies/WebPersonal.KOPF.ReportSerialization.dll
Assemblies/WebPersonal.KOPF.Tariffs.pdb
Assemblies/WebPersonal.KOPF.Tariffs.dll
Assemblies/WebPersonal.KOPF.DataContractConfiguration.pdb
Assemblies/WebPersonal.KOPF.DataContractConfiguration.dll
Assemblies/WebPersonal.KOPF.DataContracts.pdb
Assemblies/WebPersonal.KOPF.DataContracts.dll
Assemblies/WebPersonal.KOPF.Extender.pdb
Assemblies/WebPersonal.KOPF.Extender.dll
Assemblies/WebPersonal.PersonList.Query.pdb
Assemblies/WebPersonal.PersonList.Query.dll
Assemblies/WebPersonal.PersonList.Person.Query.pdb
Assemblies/WebPersonal.PersonList.Person.Query.dll
Assemblies/WebPersonal.PersonList.Client.pdb
Assemblies/WebPersonal.PersonList.Client.dll
syntax: glob
WebPersonal/output.html
Assemblies/Fop/conf/fop.xconf
Tools/user33/Debug/*
Tools/user34/Debug/*
*.sdf
Assemblies/WebPersonal.Tools.Core.pdb
Assemblies/WebPersonal.Tools.Core.dll
Tools/BHO32/Debug/*
*.obj
Tools/BHO64/x64/Debug/*
Tools/CheckUfaHost/Debug/*
Tools/CppTests/Win32/Debug/*
Tools/Debug/*
Tools/NativeFunctions32/Debug/*
Tools/NativeFunctions64/Debug/*
Tools/dgi33/Debug/*
Tools/CPSNXML/Win32/Debug/*
Tools/BHO64/dlldata.c
Tools/BHO64/BHO32_p.c
Tools/BHO64/BHO32_i.h
Tools/BHO64/BHO32_i.c
Tools/BHO32/dlldata.c
Tools/BHO32/BHO32_p.c
Tools/BHO32/BHO32_i.h
Tools/BHO32/BHO32_i.c
PrintExpress/_deploy/
.battle_deploy/*
BattleDeploy/.battle_deploy/*
Documentation/.deploy/*
Documentation/F1/output/*
*.orig
EvrikaIntegration/_deploy/*
Runner/Config.bat
Runner/NDFL/Config.bat
EvrikaIntegration/_deploy/
PublicCheck/_deploy/
Assemblies/PublicCheck.Front.dll
Assemblies/PublicCheck.Front.pdb
Assemblies/PublicCheck.Front.pdb
Assemblies/PublicCheck.Front.dll
Documentation/UserGuide/output/*
Documentation/UserGuide/output-print/*
*.opensdf
Assemblies/WebPersonal.StorageUtilities.pdb
*/functionalTestsConfig
Assemblies/WebPersonal.StorageUtilities.dll
Assemblies/WebPersonal.CassandraManagementTool.pdb
Assemblies/WebPersonal.CassandraManagementTool.exe.config
Assemblies/WebPersonal.CassandraManagementTool.exe
Assemblies/WebPersonal.Cassandra.MigrationTool.pdb
Assemblies/WebPersonal.Cassandra.MigrationTool.exe.config
Assemblies/WebPersonal.Cassandra.MigrationTool.exe
Assemblies/Cassandra/Server/db/*
Assemblies/WebPersonal.CassandraSettings.pdb
Assemblies/WebPersonal.CassandraSettings.dll
Assemblies/WebPersonal.PrintService.Core.pdb
Assemblies/WebPersonal.PrintService.Core.dll
Assemblies/CheckFSSModel.pdb
Assemblies/CheckFSSModel.dll
Assemblies/CheckFSSClient.pdb
Assemblies/CheckFSSClient.dll
Runner/RestoreStorage/TestResult.xml
Runner/*.lnk
Assemblies/WebPersonal.FocusService.pdb
Assemblies/WebPersonal.FocusService.exe
Assemblies/WebPersonal.FocusClient.pdb
Assemblies/WebPersonal.FocusClient.dll
Assemblies/WebPersonal.ScriptGeneration.pdb
Assemblies/WebPersonal.ScriptGeneration.dll
FSSBenefit/Front/App_Code/Linked
FSSBenefit/_deploy/
FSSBenefit/Front/Scripts/Linked/
FSSBenefit/Front/Styles/Linked/
FSSBenefit/Front/Images/Linked/
FSSBenefit/Front/Fonts/Linked/
Assemblies/FSSBenefit.KOPFQueries.pdb
Assemblies/FSSBenefit.KOPFQueries.dll
Assemblies/FSSBenefit/FSSBenefit.CassandraSettings.pdb
Assemblies/FSSBenefit/FSSBenefit.CassandraSettings.dll
Assemblies/FSSBenefit/FSSBenefit.Tools.dll
Assemblies/FSSBenefit/FSSBenefit.Tools.pdb
Assemblies/FSSBenefit/FSSBenefit.FSSPortalClient.pdb
Assemblies/FSSBenefit/FSSBenefit.FSSPortalClient.dll
Assemblies/Selenium/chromedriver.exe-*
Assemblies/FSSBenefit.FSS.dll
Assemblies/FSSBenefit.FSS.pdb
Runner/WebPersonal.DeploymentNew.trigger
NDFL/Front/Styles/Linked/
NDFL/Front/Scripts/Linked/
NDFL/Front/App_Code/Linked/
NDFL/Front/Fonts/Linked/
Logs/Files/*
WebPersonal/Front/App_Code/Linked/*
WebPersonal/Front/scripts/Linked/*
Assemblies/FSSBenefit/FSSBenefit.CassandraStorage.pdb
Assemblies/FSSBenefit/FSSBenefit.CassandraStorage.dll
Assemblies/WebPersonal/WebPersonal.CassandraStorage.pdb
Assemblies/WebPersonal/WebPersonal.CassandraStorage.dll
WebPersonal/Front/Styles/Linked*
FSSBenefit/Front/dcfile.txt
Assemblies/FSSBenefit/FSSBenefit.KEServiceClient.pdb
Assemblies/FSSBenefit/FSSBenefit.KEServiceClient.dll
WebPersonal/Front/App_Code/Linked/*
WebPersonal/Front/Images/Linked/*
WebPersonal/Front/Fonts/Linked/*
WebPersonal/Front/Integration/*
NDFL/Front/Images/Linked/*
Tools/Release/
Tools/user33/Release/
FSSBenefit/DataStatisticCollector/DataStatisticCollector/Debug/
FSSBenefit/Front/mockCloudCryptData.txt
FSSBenefit.FunctionalTests/KopfRestoreStorage/TestResult.xml
CefTestDriver/CefGlue3/CefGlue.Interop.Gen/Classes.Handlers.tmpl/*
CefTestDriver/CefGlue3/CefGlue.Interop.Gen/Classes.Proxies.tmpl/*
FSSBenefit/Front/Fonts/Linked/*
Monitoring/Front/App_Code/Linked
FSSBenefit/_deploy/
Monitoring/Front/Content/Scripts/Linked/
Monitoring/Front/Content/Styles/Linked/
Monitoring/Front/Images/Linked/
Monitoring/Front/Fonts/Linked/
Assemblies/StressServiceCore.dll
Assemblies/StressServiceCore.pdb
Assemblies/StressTestImplementors.dll
Assemblies/StressTestImplementors.pdb
*.tss
Runner/config.bat
Statistics/packages/
packages/
.battle_deploy2/*
Statistics/Database/Database.dbmdl
Assemblies/NDFL/*.dll
Assemblies/NDFL/*.pdb
Assemblies/BanksService.exe
Assemblies/BanksService.pdb
node_modules/
.idea/
Assemblies/Integration.*.dll
Assemblies/Integration.*.pdb
Assemblies/WebPersonal.CassandraStorage.dll
Assemblies/WebPersonal.CassandraStorage.pdb
WebPersonal/packages/
NDFL/Front/AutoScripts/
WebPersonal/Front/AutoScripts/
NDFL/Front/AutoScripts/
Assemblies/KopfAutoScript.*
dist
webpack-assets.json
*/**/Metrics/*.csv
*/**/Mocks/*MockFile.txt
Tools/Tools.VC.opendb
NDFL/NDFL.FrontLogs/Metrics
.vs
.vscode
modules/**/*.map
modules/**/*.css
modules/**/*.js
Assemblies/PFRReportParser

Integration.Service/Settings/clusterConfig
Machinarium/Settings/clusterConfig
Monitoring/Front/Settings/clusterConfig
NDFL/Front/Settings/clusterConfig
WebPersonal/Front/Settings/clusterConfig
HealthMonitor/Front/Settings/clusterConfig
PFR/Front/Settings/clusterConfig
Forms/Front/Settings/clusterConfig
FSSBenefit/Front/Settings/clusterConfig

Assemblies/PFRReportParser.pdb
Assemblies/PFRReportParser.dll
BattleDeploy/nuget-pack/output
BattleDeploy/nuget-pack/Kopf.Deploy.Core.*.nupkg
PFR/Frontend/app/shared
PFR/Frontend/typed
Controls.Core/Styles/NewStyles/**/*.css

PFR/Front/App_Code/Linked
PFR/Front/Scripts/Linked/
PFR/Front/Styles/Linked/
PFR/Front/Images/Linked/
PFR/Front/Fonts/Linked/
PFR/Frontend/.idea
PFR/Frontend/app/**/*.js
PFR/Frontend/app/**/*.js.map
PFR/Frontend/app/App.js
PFR/Frontend/app/**/*.css
PFR/Frontend/shared
PFR/Frontend/typed
PFR/Frontend/common
PFR/Common.Frontend/**/*.js
PFR/Common.Frontend/**/*.js.map
PFR/Common.Frontend/**/*.css
!PFR/Common.Frontend/HeavyScripts/*.js
!PFR/Common.Frontend/kontur.plugin/*.js
!PFR/Common.Frontend/kontur.toolbox/*.js
PFR/ExternalFrontend/**/*.js
PFR/ExternalFrontend/**/*.js.map
PFR/ExternalFrontend/**/*.css
PFR/ExternalFrontend/app/styles
PFR/ExternalFrontend/common
PFR/ExternalFrontend/typed
PFR/Client.Frontend/typings
PFR/Client.Frontend/**/*.js

PFR/PFR.FrontLogs/*
AppReadme/Compare-NET-Objects-Help.chm
Forms/**/*Frontend*/**/*.css*
Forms/**/*Frontend*/**/*.js*
Forms/**/*Frontend/common
Forms/**/*Frontend/typings
Forms/**/*Frontend/app/shared
Forms/**/*Frontend/shared
Forms/Sandbox/Frontend/client
Forms/Sandbox/Frontend/client/
current-metrics.txt

!Forms/**/*Frontend*/jest.config.js
!Forms/**/*Frontend*/jest.form.config.js
!Forms/**/*Frontend*/webpack.config.js
!Forms/**/*Frontend*/webpack.dev.config.js
!Forms/**/*Frontend*/tsconfig.json
!Forms/**/*Frontend*/package.json
Forms/**/*Frontend*/package-lock.json

Forms/RSV2017/Frontend/TypeScriptWatcher.bat
Assemblies/PFR.MockDocflow.pdb
Assemblies/PFR.MockDocflow.dll

Forms/Front/Frontend/

syntax: regexp
^Assemblies/WebCore.dll
^Assemblies/WebCore.pdb
^Assemblies/WebPersonal.Core.dll
^Assemblies/WebPersonal.Core.pdb
^Assemblies/WebPersonal.TestCore.dll
^Assemblies/WebPersonal.TestCore.pdb
^Assemblies/WebPersonal.CloudCryptClient.dll
^Assemblies/Mocks*
^Assemblies/WebPersonal.CloudCryptClient.pdb

# production
PMS/frontend/build/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
PMS/frontend/src/**/*.js
PMS/frontend/src/**/*.js.map
*.received.txt
/Forms/Common.Frontend